* {
  box-sizing: border-box;
}

.container__style {
  min-height: 100vh;
  width: 100%;
  background: center / cover no-repeat;
}

.black__color {
  color: black;
}

.link {
  text-decoration: none;
  color: white;

  &:hover {
    color: white;
  }
}
