.aside__bar {
  display: flex;
  font-family: $font;
  font-weight: 500;
  position: fixed;
  right: 10px;
  top: 20px;
}

.icon__menu-img {
  color: black;
  cursor: pointer;
  height: 36px;
  margin-right: 10px;
  width: 36px;
}

#menu__bar {
  background-color: black;
  box-shadow: 5px 5px 10px black;
  height: auto;
  transition: 0.3s all;
  width: 0px;

  ul li {
    font-size: 18px;
    list-style: none;
    margin-top: 15px;

    a {
      color: $paragraph-color;
      text-decoration: none;

      &:hover {
        color: white;
      }
    }
  }
}
