.container__about {
  background-image: url("../img/background/background-about.png");
}

.container__about-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container__about-description {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;

  .container__about-text {
    align-items: flex-start;
    display: flex;
    height: 180px;
    margin: 0 0 30px 0;
    width: 700px;
  }

  .container__about-image {
    margin-right: 30px;
    width: 140px;
  }

  .container__about-paragraph {
    color: $paragraph-color;
    font-family: $font;
    font-size: 18px;
    font-weight: 500;
    line-height: 36px;
    text-align: left;
  }

  .container__about-specs {
    align-content: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 500px;
    margin-top: -20px;
    width: 100%;

    .container__about-left {
      margin-right: 100px;
    }

    .profile__title {
      color: white;
      font-family: $font;
      font-size: 26px;
      font-weight: 600;
    }

    .profile__desc {
      color: $paragraph-color;
      font-family: $font;
      font-size: 16px;
      font-weight: 500;
      margin-top: -20px;
      text-align: left;
    }

    .profile__title-pin {
      color: white;
      font-family: $font;
      font-size: 20px;
      font-weight: 600;
      margin-top: 40px;
    }
  }
}

.about__description {
  margin-top: -20px;

  .about__description-title {
    color: $primary-color;
    font-family: $font;
    font-size: 30px;
    font-weight: 600;
  }
  a {
    text-decoration: none;
  }
  .about__description-desc {
    color: $secondary-color;
    cursor: pointer;
    font-family: $font;
    font-size: 25px;
    font-weight: 500;
    margin-top: -30px;
    transition: 0.3s;

    &:hover {
      color: $primary-color;
    }
  }

  .about__description-icon {
    cursor: pointer;
    margin-top: -30px;
    width: 60px;
  }
}

@media (max-width: 720px) {
  .container__about-description {
    .container__about-text {
      align-items: flex-start;
      height: auto;
      justify-content: center;
      width: auto;

      .container__about-image {
        width: 100px;
      }

      .container__about-paragraph {
        font-size: 14px;
        line-height: 20px;
        width: 300px;
      }
    }

    .container__about-specs {
      .container__about-left {
        margin-right: 20px;
      }

      .profile__title {
        font-size: 18px;
      }

      .profile__desc {
        font-size: 14px;
        width: 200px;
      }

      .profile__title-pin {
        font-size: 14px;
      }
    }
  }

  .about__description {
    .about__description-title {
      font-size: 25px;
    }

    .about__description-desc {
      font-size: 20px;
    }
  }
}

@media (max-width: 500px) {
  .container__about {
    background-image: url(../img/background/background-about-mobile.png);

    .container__about-info {
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: space-between;

      .container__about-description {
        margin-bottom: 40px;

        .container__about-text {
          align-items: center;
          flex-direction: column;
          margin-top: -40px;

          .container__about-image {
            margin-bottom: 20px;
          }

          .container__about-paragraph {
            width: auto;
          }
        }

        .container__about-specs {
          flex-wrap: nowrap;
          .container__about-right {
            margin-top: -4px;
          }

          .profile__desc {
            width: auto;
          }

          .profile__title-pin {
            font-size: 14px;
            margin-top: -4px;
          }
        }
      }
    }
  }

  .about__description {
    .about__description-title {
      font-size: 20px;
      margin: 20px;
    }

    .about__description-desc {
      font-size: 16px;
    }
  }
}

@media (max-width: 336px) {
  .about__description {
    .about__description-title {
      margin: 40px;
    }
  }
}

@media (max-width: 316px) {
  .container__about-description {
    margin-bottom: 60px;
  }

  .about__description {
    .about__description-desc {
      font-size: 13px;
    }

    .about__description-icon {
      width: 40px;
    }
  }
}

@media (max-width: 280px) {
  .container__about-description {
    margin-bottom: 60px;
  }
}

@media (max-height: 800px) {
  .container__about-description {
    padding-top: 60px;
  }

  .about__description {
    margin-top: -80px;
  }
}
