.portfolio__item {
  background-color: $primary-color;
  padding: 100px;
}

.portfolio__items {
  align-items: center;
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}

.porfolio__item-image {
  margin-top: -120px;
}

.portfolio__item-description--js {
  width: 60%;
  .portfolio__item-description--title {
    color: $primary-color;
    font-size: 40px;
    font-family: $font;
    font-weight: 800;
  }
  .portfolio__item-description--subtitle {
    color: $secondary-color;
    font-size: 30px;
    font-family: $font;
    font-weight: 500;
  }

  .portfolio__item-description--paragraph {
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
  }
}

.portfolio__item-description {
  margin-top: -40px;
  width: 60%;
  .portfolio__item-description--title {
    color: $primary-color;
    font-size: 40px;
    font-family: $font;
    font-weight: 800;
  }
  .portfolio__item-description--subtitle {
    color: $secondary-color;
    font-size: 30px;
    font-family: $font;
    font-weight: 500;
  }

  .portfolio__item-description--paragraph {
    font-family: $font;
    font-size: 16px;
    font-weight: 500;
  }
}

.portfolio__item-carousel {
  box-shadow: 0 5px 15px black;
  margin-top: 16px;
  width: 60%;
}

.portfolio__button-code {
  align-items: center;
  border: 2px solid $primary-color;
  border-radius: 30px;
  color: $primary-color;
  display: flex;
  font-size: 20px;
  font-weight: 500;
  margin-top: 32px;
  margin-bottom: 32px;
  padding: 10px 25px;

  &:hover {
    background-color: $primary-color;
    box-shadow: 0 5px 15px black;
    color: white;
  }
}

.portfolio__item-description--voltar {
  cursor: pointer;
  font-family: $font;
  font-weight: 500;
  font-size: 16px;

  p {
    color: black;

    &:hover {
      color: $secondary-color;
    }
  }
}

@media (max-width: 1000px) {
  .portfolio__item-description,
  .portfolio__item-description--js {
    margin-top: -20px;
    width: 80%;
  }
  .portfolio__item-carousel {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .portfolio__item-description {
    margin-top: 0;
  }
  .portfolio__item-carousel {
    width: 100%;
  }
  .portfolio__button-code {
    font-size: 16px;
    padding: 10px 10px;
  }
  .portfolio__item-description--js .portfolio__item-description--title {
    font-size: 30px;
  }
}
